.property-card {
  // border: 1px solid red;
  padding: .5rem;
  // border: 3px solid red;
  width: 100%;
  background-color: $color-grey-light-1;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 40% 60%;
  box-shadow: 0 1rem 1rem rgba(#000, .1);
  cursor: pointer;

  &:hover {
    border: 1px solid $color-grey-dark-1;
  }

  &__price {
    text-transform: uppercase;
  }

  .details {
    margin: 1rem 0;

    &__icons {
      font-weight: 400;

      .icon {
        padding-left: 2rem;
        color: $color-grey-dark-1;
      }
    }
  }

  .seller {
    align-self: center;
    justify-self: center;
    width: 80%;
  }

  img {
    grid-column: 1 / -1;
    width: 100%;
  }

  &__agency-bar {
    font-weight: bold;
    padding: .4rem;
    grid-column: 1 / -1;
    background-color: yellowgreen;
  }
}

.carousel-card {
  background-color: $color-grey-light-2;

  display: block;
  width: 100%;
  // margin: 5px;
  box-shadow: 0 1px 3px 0 rgba(30, 41, 61, .2), 0 1px 3px 0 rgba(30, 41, 61, .2);
  border-radius: 3px;
  cursor: pointer;

  &__location {
    margin-top: -30px;
    // display: inline-block;
    color: white;
    font-size: 1rem;
    padding-left: 15px;
  }

  &__suburb {
    font-weight: bold;
    display: inline;
  }

  &__state {
    font-weight: 700;
  }

  &__icons {
    display: block;
  }

  &__header {
    background-color: white;
    border-radius: 3px;
    padding: 18px 18px;
    color: #3c475b;
  }

  &__icon {
    padding-right: 10px;
  }

  &__icon-number {
    font-weight: 700;
    font-family: $font-display;

  }

  &__subtitle {
    font-size: 1rem;
    font-weight: 300;
  }

  &__img {
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-image: linear-gradient(180deg, transparent, rgba(12, 31, 69, .5));
  }
}