@import "../../sass/_base.scss";

.search {
  border-radius: 3px;
  // border: 1px solid grey;
  // padding: 4.5rem 6rem 3rem 6rem;
  padding: 35px 60px 35px 60px;
  z-index: 2;
  grid-column: 1 / -1;
  justify-self: center;
  // grid-row: 1 / -1;
  display: grid;
  margin-top: 5rem;
  align-self: start;
  background-color: #fff;
  width: 1001px;
  height: auto;
  border-radius: 3px;
  border: 1px solid hsla(0,0%,100%,.3);
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(7,25,57,.1), 0 1px 2px 0 rgba(7,25,57,.2);
}

.search-bar {
  width: 879px;
}

.search-button {
  float: left;
  border: none;
  border-radius: 0px 3px 3px 0px;
  font-weight: bold;
  color: white;
  background-color: $color-primary;
  font-size: 1.2rem;
  padding: 20px 30px;
  height: 86px;
  width: 150px;
}

.search-button:hover {
  background-color: $color-secondary;
}

.products {
  background-color: #7E8594;
  grid-column: center-start / center-end;
}

/////////////////////////////////
// SEARCH NAV

.search-nav {
  display: flex;
  font-size: 1rem;
  list-style: none;

  &__item {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    //   &:not(:last-child) {
    //     margin-bottom: .5rem;
    //   }
  }

  &__item::before {
    // content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: $color-primary;
    //   transform: scaleY(0);
    //   transform-origin: center;
    //   transition: transform .2s, width .4s cubic-bezier(1,0,0,1) .2s;
  }

  &__item:hover::before,
  &__item:active::before {
    // transform: scaleY(1);
    width: 100%;
    border-radius: 10px;
  }


  &__link:link,
  &__link:visited {
    color: #3C475B;
    text-decoration: none;
    // display: inline-block;
    //   padding: 15px 22px;
    font-weight: bold;
    // position: relative;
    // z-index: 10;
  }

  &__link {
    color: #3C475B;
    text-decoration: none;
    // display: inline-block;
    padding: 15px 22px;
    font-weight: bold;
    cursor: pointer;
  }

  .active {
    border-radius: 3px 3px 0px 0px;
    background-color: $color-primary;
    //   height: 40px;
    color: white;
  }
  // &__link:hover {
  //   &:not(.active) {
  //     color: $color-primary;
  //   }
  //   color: white;
  // }
}

.recent-searches {
  color: #a9afba;
  font-weight: bold;
  font-size: 1rem;
  display: block;
  margin-top: 15px;
  // margin-bottom: 10px;
  // padding: 15px 0px;
  position: relative;

  &__caption {
    // line-height: 24px;
    padding: 10px 0px;
    ;
  }


  &__icon {
    width: 24px;
    height: 24px;
  }

  &__clickable-div {
    // cursor: pointer;
    color: black;
    display: inline-block;
    min-width: 194px;
    max-width: 300px;
    border: 1px solid #d0d3d9;
    border-radius: 3px;
    padding: 8px 14px;
    margin-right: 14px;
  }

  &__clickable-div:link {
    text-decoration: none;
  }

  &__clickable-div:hover {
    background-color: $color-grey-light-1;
  }

  &__suburbs {
    color: $color-primary;
    font-weight: bold;
    font-size: 1.0rem;
    text-decoration: none;
  }

  &__description-line {
    font-size: 1rem;
    color: #3c475b;
    text-decoration: none;
  }

  &__results {
    flex-direction: row;
  }
}
